 <div>
 <h2>Page Heading</h2>
 <form method="POST" action="/celebrities/create">
    <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>
    </div>
    
  <div>
    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation"><br>
  </div>


    <label for="catchPhrase">Catch Phrase:</label>
    <input type="text" id="catchPhrase" name="catchPhrase"><br>
    
    <button type="submit">Submit</button>
  </form>
  </div>

{{!-- seguimos los pasos de daniel --}}